@{
    ViewData["Title"] = "Article Page";
    var article = ViewData["Article"] as Article;
}

<div class="overlay">
    <div class="row justify-content-center py-5">
        <div class="col-md-10 pb-5">
            <h2 class="text-white font-weight-bold ml-5 mr-5 text-center">@article.Title</h2>
            <img class="acticle-img mb-4" src=@article.ImageUrl alt=@article.Title />
            <p class="font-weight-bold h6">@article.Description</p>
            <div class="py-3 mt-4 pl-4 pr-3 bg-light ">
                <h6 class="font-weight-bold mb-3">Experts Comment</h6>
                <p class="small font-weight-bold">@article.ExpertComment</p>
            </div>
        </div>
    </div>
</div>